@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{

	font-family: 'Roboto', sans-serif;

	margin: 0;

	padding: 0;

	box-sizing: border-box;

}

.container1{
    background-position: center;
    background-size: cover;
}
.navbar{
    background-color: black;
    height: 80px;
    display:flex;
    align-items: center;
}
.logo{
    width: 260px;
    cursor:pointer;
    margin-top: 5px;
    margin-left: 10%;
    
}
nav{
    flex:1;
    text-align: right;
    margin-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
}

.container{

	max-width: 1800px;

	margin: 0 auto;
	margin-left: 180px;

}

.container > h1{

	padding: 20px 0;

}

.cart{

	display: flex;

}

.products{

	flex: 0.75;

}

.product{

	display: flex;

	width: 100%;

	height: 200px;

	overflow: hidden;

	border: 1px solid silver;

	margin-bottom: 20px;

}





.product-info{

	padding: 10px;

	width: 100%;

	position: relative;

}

.product-name, .product-price, .product-offer{

	margin-bottom: 20px;

}

.product-remove{

	position: absolute;

	bottom: 20px;

	right: 20px;

	padding: 10px 25px;

	background-color: rgba(102, 135, 224, 0.836);

	color: rgb(250, 245, 245);

	cursor: pointer;

	border-radius: 5px;

}

.product-remove:hover{

	background-color: white;

	color: rgba(245, 245, 245, 0.836);

	font-weight: 600;

	border: 1px solid rgb(0, 0, 0);

}

.product-quantity > input{

	width: 40px;

	padding: 5px;

	text-align: center;

}

.fa{

	margin-right: 5px;

}

@media screen and (max-width: 700px){

	.remove{

		display: none;

	}

	.product{

		height: 150px;

	}

	.product > img{

		height: 150px;

		width: 200px;

	}

	.product-name, .product-price, .product-offer{

		margin-bottom: 10px;

	}

}

@media screen and (max-width: 900px){

	.cart{

		flex-direction: column;

	}

	.cart-total{

		margin-left: 0;

		margin-bottom: 20px;

	}

}

@media screen and (max-width: 1220px){

	.container{

		max-width: 95%;

	}

}